services:
  postgres:
    image: postgres
    restart: always
    ports:
      - '5432:5432'
    env_file:
      - ./.env
    volumes:
      - ./postgres-data:/var/lib/postgresql

  localstack:
    image: localstack/localstack:3
    ports:
      - '4566:4566'
    environment:
      - SERVICES=s3,ses
      - DEBUG=0
      - PERSISTENCE=1
    volumes:
      - ./localstack-data:/var/lib/localstack
      - ./scripts/localstack:/etc/localstack/init/ready.d
